@font-face {
  font-family: gotham-book;
  src: url(../public/assets/fonts/Gotham-Book.otf);
}
@font-face {
  font-family: gotham-bold;
  src: url(../public/assets/fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: gotham-black;
  src: url(../public/assets/fonts/Gotham-Black.otf);
}
@font-face {
  font-family: eagle-lake;
  src: url(../public/assets/fonts/EagleLake-Regular.ttf);
}

.font-standard {
  font-family: gotham-book, sans-serif;
}

.font-fantasy {
  font-family: eagle-lake, fantasy, sans-serif;
}

/* .container{
  font-family: fantasy
} */

table {
  width: 100%;
  text-align: center;
}

/* .accTitle{
  width: 100%;
  text-align: left;
  
} */

.attInput{
  text-align: center;
  width: 3rem;
}

.listFrame {
  border: solid black 1px;
  text-align: center;
}

.nameDisplay {
  width: 100%;
  text-align: left;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: aliceblue;
}

.totalScore {
  background-color: aquamarine;
}

.btn {
  box-shadow: 2px 2px 2px lightgray;
  /* border-radius: 5px!important; */
}
